!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en') 
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title=title
    meta(name="description", content=description)
    meta(name="author", content=author)
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href='/css/admin-layout.css')
    link(rel='stylesheet', href='/css/jquery.ui.timepicker.css')
    link(rel='stylesheet', href='/js/libs/jqueryui/css/ui-lightness/jquery-ui-1.9.2.custom.min.css')
    link(rel='shortcut icon', href='http://example.com/myicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Ubuntu:700', rel='stylesheet', type='text/css')

  body
    div(id='container')

      block content

      include includes/footer