extends layout

block content
    div(id='verticalNav')
        ul
            li(class='active')
                a(href='#jardin')=('El Jardín químico')
            li
                a(href='#obras')=('Pequeñas Obras')

    article(id='jardin')
        div(class='album')
            img(src='../images/cdcover-jardin.png')
            div(class='info')

                p
                    em released 01 January 2012
                    br
                    | El Jardín Químico es un disco puramente instrumental de una banda que, más allá de su estilo y paleta sonora, difícil es definirla. En esta primera entrega Vidrio despliega sus artilugios sin idas y vueltas; encontramos fragmentos de electroacústica, tango ácido, rock progresivo, rock más pesado, climas extremos y estructuras arbitrarias. Cada tema es una pequeña historia, y como tal, lleva sus personajes y escenarios. Esta variedad de tramas hace que escucharlo sea una experiencia teatral.
                    br
                    | El disco y sus temas fueron compuestos, arreglados, grabado y mezclado por VIDRIO.

                p(style='white-space:pre;')
                    strong VIDRIO es:
                    br
                    span
                        | Juan Pablo Dos Santos (Teclados)
                        | Mauro Gonzalez (Guitarra)
                        | Nicolas Gonzalez (Batería)

                p(style='white-space:pre;')
                    strong Musico invitado:
                    br
                    span
                        | Ignacio Czornogas (Saxo)

                p(style='white-space:pre;')
                    strong Masterizado por:
                    br
                    span
                        | Ezequiel Morfi - en el estudio de Andres Mayo

                p(style='white-space:pre;')
                    strong Arte y diseño del disco:
                    br
                    span
                        | Sebastian Gomez - gomebigge.tumblr.com

        div(id='bc-player')
            <iframe width="300" height="355" style="position: relative; display: block; width: 300px; height: 355px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=3507458774/size=grande2/linkcol=4285BB/" allowtransparency="true" frameborder="0"><a href="http://vidrio.bandcamp.com/album/el-jard-n-qu-mico">El jardín químico by VIDRIO</a></iframe>

            a(href='http://articulo.mercadolibre.com.ar/MLA-459572417-el-jardin-quimico-vidrio-_JM', class='buy-something', target='_blank')
                | Comprá el disco

    article(id='obras')
        div(class='album')
            img(src='../images/cdcover-obras.jpg')
            div(class='info')

                p
                    em released 01 January 2012
                    br
                    | El disco y sus temas fueron compuestos, arreglados, grabado y mezclado por VIDRIO.

                p(style='white-space:pre;')
                    strong VIDRIO es:
                    br
                    span
                        | Juan Pablo Dos Santos (Teclados, Clarinete)
                        | Mauro Gonzalez (Guitarra, Batería)
                        | Nicolas Gonzalez (Batería, Voz)

        div(id='bc-player')
            iframe(width='100%', height='450', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/4060247')
