extends layout

block content
    div(id='verticalNav')
        ul
            li(class='active')
                a(href='#jardin')=('El Jardín químico')
    article
        div(id='album')
            img(src='../images/cdcover-jardin.png')
            div(class='info')

                p(style='white-space:pre;')
                    em released 01 January 2012
                    br
                    strong
                        | Jungla electronica, barroca, intensa.
                    br
                    | El disco y sus temas fueron compuestos, arreglados, grabado y mezclado por VIDRIO.

                p(style='white-space:pre;')
                    strong VIDRIO es:
                    br
                    span
                        | Juan Pablo Dos Santos (Teclados)
                        | Mauro Gonzalez (Guitarra)
                        | Nicolas Gonzalez (Batería)

                p(style='white-space:pre;')
                    strong Musico invitado:
                    br
                    span
                        | Ignacio Czornogas (Saxo)

                p(style='white-space:pre;')
                    strong Masterizado por:
                    br
                    span
                        | Ezequiel Morfi - en el estudio de Andres Mayo

                p
                    strong Arte y diseño del disco:
                    br
                    span
                        | Sebastian Gomez - gomebigge.tumblr.com

        div(id='bc-player')
            <iframe width="300" height="355" style="position: relative; display: block; width: 300px; height: 355px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=3507458774/size=grande2/linkcol=4285BB/" allowtransparency="true" frameborder="0"><a href="http://vidrio.bandcamp.com/album/el-jard-n-qu-mico">El jardín químico by VIDRIO</a></iframe>
