!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en') 
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title=title
    meta(name="description", content=description)
    meta(name="author", content=author)
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='js/libs/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='js/libs/bootstrap-image-gallery/css/bootstrap-image-gallery.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/layout.css')
    link(rel='shortcut icon', href='http://example.com/myicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Overlock|Ubuntu:700|Bowlby+One+SC|Nunito|Open+Sans', rel='stylesheet', type='text/css')
    //-script(src='js/libs/modernizr-2.0.6.min.js')
  body
    div(id='fb-root')
      script
        window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
        appId      : 'YOUR_APP_ID', // App ID from the App Dashboard
        channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File for x-domain communication
        status     : true, // check the login status upon init?
        cookie     : true, // set sessions cookies to allow your server to access the session?
        xfbml      : true  // parse XFBML tags on this page?
        });
        // Additional initialization code such as adding Event Listeners goes here
        };
        // Load the SDK's source Asynchronously
        // Note that the debug version is being actively developed and might
        // contain some type checks that are overly strict.
        // Please report such bugs using the bugs tool.
        (function(d, debug){
          var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement('script'); js.id = id; js.async = true;
          js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
          ref.parentNode.insertBefore(js, ref);
          }(document, /*debug*/ false)
        );


    div(id='container')
      include includes/header

      block content

      include includes/footer