/*
font-family: 'Overlock', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Bowlby One SC', cursive;
font-family: 'Nunito', sans-serif;
*/
body {
    background: url('../images/white-noisy-texture.png');
}
a {
    color: #555;
    text-decoration: none;
    -webkit-transition: color 0.3s;
}
a:hover {
    color: #000;
}

/* Header */
h1 {
    margin: 0;
    font-size: 100px;
    line-height: 160px;
    font-weight: normal;
}
h2 {
    display: block;
    width: 390px;
    font-size: 24px;
    text-align: center;
    margin: -20px 0px 0px 0px;
    font-weight: normal;
    text-indent: 6px;
    letter-spacing: 7px;
    opacity: 0.5;
    border-radius: 5px;
}
#container {
    width: 1024px;
    margin: auto;
}
article {
    margin-top: 25px;
    width: 800px;
    float: left;
}
/* Header */
header {
    height: 220px;
    font-family: 'Bowlby One SC', cursive;
    font-size: 68px;
    color: black;
}
#album {
    width: 360px;
    margin-right: 20px;
    float: left;
}
#album .info {
    margin-top: 20px;
    font-family: 'Overlock', cursive;
}
#album .info p span {
    display: block;
    margin-left: 10px;
}
#bc-player {
    float: left;
}


/* Navigations */
#nav ul {
    margin: 25px 0px 0px 0px;
    padding: 0;
}
#nav ul li {
    list-style: none;
    float: left;
    margin-right: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}
#nav ul li a {
    padding: 5px;
}
#verticalNav {
    width: 180px;
    min-height: 450px;
    float: left;
}
#verticalNav ul {
    margin: 25px 0px 0px 0px;
    padding: 0;
}
#verticalNav ul li {
    display: block;
    clear: both;
    list-style: none;
    float: left;
    margin-right: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0px 0px 15px 0px;
}
#nav a.active,
#verticalNav .active a {
    background: #333;
    color: #fff;
}
#verticalNav ul li a {
    padding: 5px;
}


/* Footer */
footer {
    float: left;
    height: 178px;
    width: 1024px;
    margin-top: 30px;
    -webkit-transition: background-color linear 0.5s;
}
