/*
font-family: 'Overlock', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Bowlby One SC', cursive;
font-family: 'Nunito', sans-serif;
*/
body {
    background: url('../images/white-noisy-texture.png');
}
a, p {
    white-space:pre-line;
}
a {
    color: #555;
    text-decoration: none;
    -webkit-transition: color 0.3s;
}
a:hover {
    color: #000;
}

/* Header */
header h1 {
    margin: 0;
    font-size: 100px;
    line-height: 160px;
    font-weight: normal;
}
header h2 {
    display: block;
    width: 390px;
    font-size: 24px;
    text-align: center;
    margin: -20px 0px 0px 0px;
    font-weight: normal;
    text-indent: 6px;
    letter-spacing: 7px;
    opacity: 0.5;
    border-radius: 5px;
}
#container {
    width: 1024px;
    margin: auto;
}
article {
    margin-top: 25px;
    width: 800px;
    float: left;
}

/* Header */
header {
    height: 220px;
    font-family: 'Bowlby One SC', cursive;
    font-size: 68px;
    color: black;
}
#album {
    width: 360px;
    margin-right: 20px;
    float: left;
}
#album .info {
    margin-top: 20px;
    font-family: 'Overlock', cursive;
}
#album .info p span {
    display: block;
    margin-left: 10px;
}
#bc-player {
    float: left;
}

/* Navigations */
#nav ul {
    margin: 25px 0px 0px 0px;
    padding: 0;
}
#nav ul li {
    list-style: none;
    float: left;
    margin-right: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}
#nav ul li a {
    padding: 5px;
}
#verticalNav {
    width: 180px;
    min-height: 450px;
    float: left;
}
#verticalNav ul {
    margin: 25px 0px 0px 0px;
    padding: 0;
}
#verticalNav ul li {
    display: block;
    clear: both;
    list-style: none;
    float: left;
    margin-right: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0px 0px 15px 0px;
}
#nav a.active,
#verticalNav .active a {
    background: #333;
    color: #fff;
}
#verticalNav ul li a {
    padding: 5px;
}

/* Shows */
.show {
    width: 530px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.show h5,
.show h4 {
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-size: 22px;
    color: #333;
    margin: 0px 0px 10px 0px;
}
.show h5 {
    float: right;
    position: relative;
    top: -40px;
    right: 14px;
    color: #fb2908;
}
.show .place {
    position: relative;
    top: -10px;
    color: #69ab38;
    font-size: 15px;
    font-weight: bold;
}
.show p {
    display: block;
    font-family: sans-serif;
    font-size: 0.8em;
    color: #333;
    margin: 0px;
    padding: 0px;
}
.show .body {
    width: 100%;
    margin-bottom: 20px;
}
.show img {
    display: block;
    margin: auto;
}
.modal {
    background: #090909 !important;
    padding-bottom: 10px;
}
.modal .modal-title {
    color: #ccc;
}
.modal a.close,
.modal a.close:hover {
    color: #ccc !important;
    opacity: 1;
    text-shadow: 0px 0px 0px;
    font-size: 12px;
}
.modal .modal-header {
    border-bottom: 1px solid #333333;
}
.modal .modal-footer {
    display: none;
    background: #090909 !important;
    border-top: 1px solid #333333;
    -webkit-box-shadow: inset 0 0 0 #ffffff;
    -moz-box-shadow: inset 0 0 0 #ffffff;
    box-shadow: inset 0 0 0 #ffffff;
}

/* Fotos */
#gallery {
    background: black;
    padding-left: 10px;
    padding-top: 10px;
}
#gallery img {
    margin: 0px 10px 10px 0px;
}


/* Footer */
footer {
    float: left;
    height: 178px;
    width: 1024px;
    margin-top: 30px;
    -webkit-transition: background-color linear 0.5s;
}
